.launch_container {
    background-color: #E1584B;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.launch_hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 200px;
}

.launch_launchImage {
    width: 40%;
    height: 20%;
}

.launch_header {
    font-size: 50px;
    color: white;
}

.launch_credits {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 30px;
}

.launch_creditsImageBackground {
    width: 50px;
    height: 50px;
    background-color: #3A3B3C;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.launch_creditsImage {
    width: 40px;
    height: 40px;
}

.launch_smallText {
    color: white;
    font-size: 20px;
}