.tabNavigator {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
.tabBar {
  position: fixed;
  background-color: #E1584B;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
  
.tabLink {
  color: black;
  text-decoration: none;
}

.activeTab {
  color: white;
}

.icon {
  font-size: 25px;
}

.tabContent {
  flex: 1;
  padding-bottom: 60px;
}