.container {
    width: '100%';
    height: '100%';
    gap: 20px;
    background-color: white;
  }
  
  .topPiece {
    height: 8%;
    background-color: #E1584B;
  }
  
  .buttonPiece {
    width: 100%;
    margin-left: 20px;
    font-size: 24px;
    color: #646464;
    margin-right: 95%;
    cursor: pointer;
  }
  
  .middlePieceContainer {
    width: 100%;
    align-items: center;
    max-height: 93.5%;
  }
  
  .middlePiece {
    width: 90%;
    gap: 20px;
  }
  
  .teamMain {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    max-height: 150px;
  }
  
  .image {
    max-width: 55%;
    max-height: 100px;
  }
  
  .robotDetails {
    align-items: left;
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
  }
  
  .matchSection {
    justify-self: center;
    gap: 100px;
    overflow-y: auto;
    width: 100%;
    margin-left: 2%;
  }
  
  .matches {
    display: flex;
    flex-direction: column;
    border: 2px solid #C8C8C8;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 14px;
    width: 100%;
  }
  
  .subText {
    font-size: 12px;
  }
  
  .header {
    font-size: 20px;
  }