.container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .topPiece {
    width: 100%;
    height: 8%;
    background-color: #E1584B;
  }
  
  .middlePiece {
    width: 90%;
    max-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #616161;
    margin-right: 35px;
  }
  
  .searchIcon {
    margin-left: 25px;
  }
  
  .searchbar {
    font-size: 15px;
    width: 100%;
    max-height: 40px;
    padding: 10px;
    padding-left: 10px;
    border: none;
    outline: none;
  }
  
  .viewScoutingData {
    width: 100%;
    max-height: 100%;
  }
  
  .scrollView {
    overflow-y: auto;
  }
  
  .scoutingDataGlimpses {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    color: #616161;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
  }