.deleteRobot_container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .deleteRobot_topPiece {
    width: 100%;
    height: 100%;
    background-color: #E1584B;
  }
  
  .deleteRobot_middlePiece {
    width: 90%;
    max-height: 84%;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .deleteRobot_titleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .deleteRobot_return-icon {
    font-size: 24px;
    color: #616161;
    margin-right: 15px;
  }

  .deleteRobot_title {
    font-size: 17px;
    color: #616161;
  }
  
  .deleteRobot_subText {
    color: #616161;
    text-align: center;
    width: 100%;
  }
  
  .deleteRobot_robotListContainer {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
  }
  
  .deleteRobot_teamSelection {
    width: 100%;
    min-height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: 1px solid #616161;
    padding: 10px;
    margin-bottom: 5%;
    cursor: pointer;
  }
  
  .deleteRobot_teamName {
    min-height: 50px;
  }
  
  .deleteRobot_teamImage {
    width: 120px;
    height: 100%;
  }