.settingsPanel_container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .settingsPanel_topPiece {
    width: 100%;
    height: 8%;
    background-color: #E1584B;
  }
  
  .settingsPanel_middlePiece {
    width: 90%;
    max-height: 84%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .settingsPanel_titleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .settingsPanel_title {
    color: #616161;
    font-size: 17px;
  }
  
  .header {
    font-size: 22px;
    font-weight: bold;
  }
  
  .normalText {
    font-size: 20px;
  }
  
  .settingsPanel_button {
    min-width: 80%;
    min-height: 7vh;
    background-color: #E1584B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .settingsPanel_buttonText {
    font-size: 20px;
    color: white;
  }
  
  .iconButton {
    font-size: 24px;
    color: #616161;
    margin-right: 25px;
    background: none;
    border: none;
    cursor: pointer;
  }