.createProfile_container {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.topPiece {
    width: 100%;
    height: 8%;
    background-color: #E1584B;
}

.createProfile_middlePiece {
    width: 90%;
    min-height: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.createProfile_header {
    width: 100%;
    max-height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.createProfile_headerText {
    font-size: 17px;
    color: #616161;
    margin-right: 50%;
}

.createProfile_subText {
    font-size: 15px;
    color: #616161;
}

.createProfile_submitButton {
    width: 80px;
    height: 40px;
    background-color: #F27468;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createProfile_submitButtonText {
    color: white;
    font-size: 17px;
}

.inputContainer {
    width: 75%;
    min-height: 30%;
}

.bigInput {
    width: 100%;
    font-size: 15px;
    min-height: 50px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

.smallInput {
    width: 48%;
    font-size: 15px;
    min-height: 50px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

.createProfile_dropdown {
    width: 100%;
    min-height: 50px;
    background-color: gray;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.createProfile_detailInput {
    width: 80%;
    font-size: 15px;
    min-height: 100px;
    max-height: 200px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: top;
    resize: none;
}

.createProfile_row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop20 {
    margin-top: 20px;
}

.createProfile_scrollView {
    overflow-y: auto;
    padding-bottom: 130px;
}