.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .subText {
    font-size: 15px;
    color: #616161;
  }
  
  .checkbox {
    accent-color: #E1584B;
  }